:root {
  --color: #412b2e;
  --background-color: #eddcbc;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  font-family: "Space Mono", sans-serif;
}

.banner-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.banner-image img {
  object-fit: cover;
  /* object-position:center top; */
  width: 100%;
  height: 100%;
}
h2 {
  font-family: "Cedarville Cursive", sans-serif;
  font-size: 4rem;
  color: #e27247;
  /* align-self: flex-start; */
}
.intro-text {
  padding: 4rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-text p {
  max-width: 800px;
  font-size: 1.5rem;
  position: relative;
  padding-block: 2rem;
}
.intro-text p::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  /* height: 2px;
background-color: black; */
  border-bottom: 2px solid #412b2e;
}
h1 {
  font-family: "Caprasimo", serif;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e27247;
  text-align: center;
}
.arena-collection {
  display: flex;
  justify-content: center;
}
figure {
  padding: 2rem;
  width: 60vw;
  overflow: hidden;
}
.image-wrapper{
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
  width: 100%;
  height: 40vh;
  /* padding: ; */
  background-color: #e27247;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer-links {
  padding: 4rem 6rem;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
@media (width>=1024px) {
  /* .intro-text{
    padding: 4rem 10rem;
} */
}
