:root {
  --color: black;
  --background-color: bisque;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

.banner-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.banner-image img {
  object-fit: cover;
  /* object-position:center top; */
  width: 100%;
  height: 100%;
}
.intro-text {
  padding: 4rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.intro-text p {
  max-width: 800px;
  font-size: 1.5rem;
  position: relative;
  padding-block: 2rem;
}
.intro-text p::after {
content: "";
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
width: 50%;
/* height: 2px;
background-color: black; */
border-bottom:2px solid black ;
}
h1 {
  font-family: "Caprasimo", serif;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: bisque;
  text-align: center;
}

footer {
   width: 100%;
   height: 40vh;
   /* padding: ; */
   background-color: black;
}

@media (width>=1024px) {
  /* .intro-text{
    padding: 4rem 10rem;
} */
}
