:root{
--color: black;
--background-color:bisque;
}

body{
color: var(--color);
background-color: var(--background-color);

}

h1{
  font-family: "Caprasimo", serif;
  font-size: 6rem;

}
}




footer{

}


