:root {
  --secondary-background-color: #f6e3cb;
  --background-color: #4f0803e2;
  --primary-font: "space mono", sans-serif;
  --secondary-font: "Bebas Neue", sans-serif;
}
/* AI assisted for html element scroll-behavior from chatGPT on smooth scroll so that when a user clicks a nav link it scrolls smoothly than jumping to the section immediately. */
html {
  scroll-behavior: smooth;
}
body {
  color: var(--secondary-background-color);
  background-color: var(--background-color);
  background-image: url("../assets/images/hong-kong-background.jpg");
  font-family: "Space Mono", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  font-size: 0.75rem;
}
/* I used this article to add the property cursor-pointer so that it changes the mouse cursor thats usually an arrow to a hand icon.  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/cursor */

/* I used this CSS :not psuedo-class syntax from https://www.w3schools.com/cssref/sel_not.php */
/* I used this syntax to add a seperator after each nav link except the last one. The :not(:last-child) filters to the last li so that it only appears between the links and not the final one. The parent is unaffected and targets the right li elements.  */
nav ul li:not(:last-child)::after {
  content: "";
  width: 1.5px;
  height: 50%;
  background-color: #c6d83fa5;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav ul li:hover {
  color: #c5d83f;
}

header {
  background-color: var(--background-color);
  z-index: 10;
  padding: 1.25rem 0.25rem 0.25rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid #412b2e; */
  /* Used Box Shadow Generator using: https://html-css-js.com/css/generator/box-shadow/
    This code adds a shadow effect to the sticky header element. The shadow has 4 values with first shifting horizontal and second value vertically and the thirds value adding a blur and opacity value along with the color chosen.  */
  -webkit-box-shadow: 0px -14px 22px 5px #000000;
  box-shadow: 0px -14px 22px 5px #000000;
}
.sticky-header {
  position: fixed;
  top: 0;
  display: none;
  opacity: 0;
  width: 100%;
  padding: 0.25rem;
}

/* Attribute for keyframeanimations */

.hidden {
  animation: slideFadeOut 1s ease-in-out forwards;
}
.visible {
  animation: slideFadeIn 1s ease-in-out forwards;
}
@keyframes slideFadeIn {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFadeOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-300px);
    opacity: 0;
  }
}

#scroll-container {
  width: 100%;
  height: 5px;
}
#scroll-bar {
  height: 100%;
  width: 0%;
  background-color: #c5d83f;
}

.banner-video {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.banner-video video {
  object-fit: cover;
  /* object-position:center top; */
  width: 100%;
  height: 100%;
}

/* I learned this CSS technique :has() to only target the paragraph elements that inherits with the id channel-link */
/* I pulled this information from https://dev.to/mechcloud_academy/exploring-the-has-pseudo-class-in-css-4p63 */
p:has(#channel-link) {
  padding: 2rem;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 4rem;
  color: var(--background-color);
  /* align-self: flex-start; */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--background-color); */
  width: 100%;
  margin-inline: auto;
}

.block-background > h3 {
  font-family: var(--secondary-font);
  font-size: 4rem;
  color: #c5d83f;
  margin-block: 2rem 0;
  line-height: 0.8;
}

.intro-text {
  /* padding with 3 values affects top left/right bottom */
  padding: 1rem 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--secondary-background-color);
  color: #412b2e;
}
#channel-description {
  max-width: 800px;
  font-size: .9rem;
  position: relative;
  padding-block: 1rem;
}
#channel-description::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  /* height: 2px;
background-color: black; */
  border-bottom: 2px solid #412b2e;
}
.intro-text p {
  padding-bottom: 2rem;
}
h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2rem;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: #aa1f1f;
  text-align: center;
  padding-block: 1rem 0.25rem;
}

.arena-collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 5rem 3rem;
}

.block-background {
  background-color: var(--background-color);
  width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 1.25rem;
}

/* General Block Styling */
#image-blocks,
#article-blocks {
  column-count: 1;
  padding-block: 2rem;
}
.pdf-block,
.text-block,
.link-block > figure {
  padding: 2rem;
  width: 60vw;
}
/* This is for image-block styling */
/* I chose to use a masonry layout with the column-count property which I found from: https://dev.to/ryandsouza13/creating-a-responsive-masonry-layout-using-the-css-column-count-property-4kf7.
 CSS Grid was a bit more challenging to use with the number of image blocks and different sections that I have but the column count property provides the same effect that I wanted to of a stacked image gallery. This property distributes a number of columns and flows based on height.   */

li:has(.image-block) {
  position: relative;
  width: 60vw;
  margin-bottom: 1rem;
}

.image-block {
  width: 100%;
  /* aspect-ratio: 1/1; */
  overflow: hidden;
  display: block;
}

.image-block img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
  transform: scale(1);
}
#image-blocks li:hover .image-block img {
  transform: scale(1.1);
}

/* I wanted to create an image overlay effect on my images which I found here: https://www.w3schools.com/howto/howto_css_overlay.asp */
/* This effect creates an overlay for each image and the overlay is positioned absolute so that it sits on top of the image. The opacity is set at 0 which appears invisible and when a user hovers over than the transition property fades in and displays the text of the titles for each arena block. The top and left at 0 is where the overlay starts and the height and width is for the overlay to have the full size of the parent element.    */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000007a;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.image-overlay:hover {
  opacity: 1;
}
/* I used the code from this site for background image and filter overlay for a vintage effect https://dev.to/debadeepsen/vintage-photo-effect-with-css-16oj */
.vintage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image:
    radial-gradient(ellipse, #0000, #0007), linear-gradient(0deg, #9725, #9725),
    url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
  filter: blur(0.05em) saturate(0.2) contrast(1.5) brightness(1.5);
}

/* This is for link-block styling */

.link-block {
  break-inside: avoid;
  height: 75vh;
  margin-bottom: 3rem;
}
/* :last-of-type selector allows you to target the last occurence of an element within its container and not the entire page. */
/* I pulled this from https://css-tricks.com/almanac/pseudo-selectors/l/last-of-type/ */
.link-block p:last-of-type {
  text-align: center;
}
.link-block > figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link-block picture {
  width: 80%;
  display: block;
  overflow: hidden;
}

.link-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.link-block h3 {
  padding: 2rem 2rem 1rem;
  text-align: center;
}
figcaption {
  text-align: center;
  overflow-y: auto;
  height: 150px;
  scrollbar-width: none;
  padding-block: 1rem;
}

figcaption > p {
  padding-block: 1rem;
}

/* This is for video-block styling */
#video-blocks {
  column-count: 1;
}
.video-gallery {
  padding: 2rem;
}
/* This is the Now showing element */
.video-gallery p {
  display: inline-block;
  margin-block: 2rem;
  color: #c5d83f;
  position: relative;
}
.video-gallery p::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c5d83f;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translate(100%, -50%);
}
li:has(video) {
  /* padding: 2rem; */
  width: 80vw;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* This is styling for video-embed-block */
.video-embed-block {
  /* padding: 2rem; */
  margin-bottom: 2rem;
  width: 80vw;
  position: relative;
}

.screening-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.screening-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.now-screening-text {
  height: auto;
}
.screening-header > h4 {
  font-size: 2rem;
  color: #c5d83f;
  margin-block: 2rem;
}

.now-screening-text > p {
  font-size: 1.5rem;
  color: var(--secondary-background-color);
}
.screening-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-block: 2rem;
}

.screening-video-frame {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-block: 2rem;
}
.video-frame {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.video-frame > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  transition: opacity 0.2s ease;
}
.video-frame:hover .video-overlay {
  opacity: 0;
  pointer-events: none;
}
/* Tutor helped me understand how to build a hover overlay effect to make it interactive. My understanding is that the overlay is positioned on top of the video and uses opacity transition to fade smoothly. When user hovers over the video-frame, the overlay becomes transparent and stops blocking interaction showing the video underneath. Also, I used pointer-events property that I found on https://css-tricks.com/almanac/properties/p/pointer-events/.The poiter-events: none prevents the overlay from blocking clicks on the video.   */

/* This is for styling for audio-block */
.audio-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-block: 5rem;
}
.audio-block p {
  padding: 1rem;
}
.audio-block audio {
  width: 85%;
  height: 50px;
}

/* This is for styling audio-embed-block */
.audio-embed-block {
  /* padding: 2rem; */
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.audio-embed-block > iframe {
  width: 100%;
  height: 100%;

  /* height: 100%; */
}

/* This is styling for pdf-block */
.pdf-block {
  height: 500px;
  display: flex;
  justify-content: center;
}

.pdf-block > iframe {
  width: 80%;
  height: 100%;
}

/* :first-of-type select allows you to target the first occurence of an element within its container and not the entire page. */
/* I pulled this from https://css-tricks.com/almanac/pseudo-selectors/f/first-of-type/ */
.text-block p:first-of-type {
  font-family: var(--secondary-font);
  font-size: 3rem;
  text-align: center;
}

.text-block p:last-of-type {
  text-align: center;
  /* font-family: var(--secondary-font); */
}

p:has(#channel-count) {
  margin-block: 2rem;
}

footer {
  width: 100%;
  /* height: 40vh; */
  /* padding: ; */
  background-color: #150c0c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-background-color);
}
.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column-reverse;
}
.footer-links {
  padding: 4rem 6rem;
  text-align: center;
  color: #c5d83f;
}
.back-to-top {
  cursor: pointer;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
}

@media (width>=550px) {
  #image-blocks,
  #video-blocks,
  #article-blocks {
    column-count: 2;
  }

  .link-block > figure {
    padding: 2rem;
    width: 30vw;
  }
  li:has(video) {
    width: 30vw;
  }
  .video-embed-block {
    width: 30vw;
  }
 
  h1 {
    font-size: 3rem;
    line-height: 0.75;
    text-shadow: 6px 2px 5px #c5d83f;
    /*text shadow effect from https://www.w3schools.com/css/css3_shadows.asp */
  }

  .heading-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cantonese-text {
    font-family: "Noto Serif HK", serif;
    font-weight: 400;
    font-size: 4rem;
    white-space: nowrap;
  }
  nav ul li {
    font-size: 1rem;
    padding: 2.5rem;
  }
  #channel-description {
  font-size: 1.25rem;
  padding-block: 2rem;
}
.intro-text {
  /* padding with 3 values affects top left/right bottom */
  padding: 1rem 6rem 4rem;
}
.block-background {
  width: 85vw;
  padding-block: 1.5rem;
}
li:has(.image-block) {
  width: 35vw;
}
}

@media (width>=1024px) {
  .footer-top {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  h1 {
    font-size: 6rem;
  }
  nav ul li {
    font-size: 1rem;
  }
  .screening-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
  }
  .screening-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
  }
  .now-screening-text {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .screening-header > h4 {
    font-size: 2rem;
    margin-block: 0;
    align-self: flex-start;
    padding: 2rem;
  }

  .now-screening-text > p {
    font-size: 1.5rem;
  }
  .screening-video-container {
    width: 50%;
    margin-block: 2rem;
  }
  #channel-description {
  
  font-size: 1.5rem;
  padding-block: 2rem;
}
.block-background {
  width: 80vw;
  padding-block: 2rem;
}
li:has(.image-block) {
  width: 30vw;
}
}

/* I used the class reference >550px for mobile layout and other breakpoint was found in this article for larger screens https://penpot.app/blog/how-to-use-css-and-media-query-breakpoints-to-create-responsive-layouts/ */
